body{
    padding: 0;
    margin: 0;
}

body p,h1,h2,h3,a,input, form{
    font-family: 'Montserrat', sans-serif;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover, a:active{
    color: lightgrey;
}

#rest a{
    margin: 0 10px;
}