/* You can add global styles to this file, and also import other style files */
@import '~@angular\material\prebuilt-themes\indigo-pink';

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}
body p,h1,h2,h3,a,input, form{
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: lightgrey;
}